<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="البريد الألكتروني"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="كلمة السر"
          />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">
        تسجيل الدخول
      </button>
    </form>
  </mat-card>
</div>
